<% provide(:title, 'Sign Up') %>
<div class="center hero-unit">
  <h1>Welcome to Fakebook!</h1>

  <h2>
	Please enter your new profile information:
  </h2>
  <div class="left">
	<h2>
		<%= form_tag(preferences_path) do -%>
		Email Address: <%=text_field_tag(:user) %><br/>
		Password: <%=password_field_tag(:password) %><br/>
		Confirm Password: <%=password_field_tag(:confirmpassword) %><br/>
		First Name: <%=text_field_tag(:firstname) %><br/>
		Last Name: <%=text_field_tag(:lastname) %><br/>
		<%= submit_tag "Sign Up",class: "btn btn-medium btn-primary" %>
		<% end -%>
	</h2>
	</div>
</div>
