<% provide(:title, 'Sign Up') %>
<div class="center hero-unit">
  <h1>Welcome to Fakebook!</h1>

  <h2>
	Please enter your new profile information:
  </h2>
  <div class="left">
	<h2>
		<%= form_tag(preferences_path) do -%>
		<%=label_tag("Email Address:") %>
		<%=text_field_tag(:email) %>
		<%=label_tag("Password:") %>
		<%=password_field_tag(:password) %>
		<%=label_tag("Confirm Password:") %>
		<%=password_field_tag(:confirmpassword) %>
		<%=label_tag("First Name:")%>
		<%=text_field_tag(:firstname) %>
		<%=label_tag("Last Name:")%>
		<%=text_field_tag(:lastname) %>
		<%= submit_tag "Sign Up",class: "btn btn-medium btn-primary" %>
		<% end -%>
	</h2>
	</div>
</div>
