<% provide(:title, 'Preferences') %>
<div class="center hero-unit">
	<h2>Profile Preferences</h2>
	
	<div class="left">
	<h3>
		<%= form_tag(preferences_path(@user), :method => :put) do -%>
		
		First Name: <%=text_field_tag(:firstname) 	%>
		Last Name: <%=text_field_tag(:lastname) %><br/>
		Email Address: <%=text_field_tag(:email) %><br/>
		<br/>
		Interests: <br/><%=text_area_tag(:interests, nil, size:"30x10") %><br/>
		<br/>
		About Yourself: <br/><%=text_area_tag(:aboutyourself, nil, size:"50x10") %><br/>
		
		
		<%= submit_tag "Submit Changes",class: "btn btn-medium btn-primary" %>
		<% end -%>
	</h3>
	</div>

</div>
