<% provide(:title, 'Preferences') %>
<div class="center hero-unit">
	<h2>Profile Preferences</h2>
	
	<div class="left">
	<h3>
		<%= form_tag(preferences_path(@user), :method => :put) do -%>
		
		<%=@user.label(:firstname, "First Name:")%>
		<%=@user.text_field_tag(:firstname) 	%>
		<%=@user.label(:lastname, "Last Name:")%>
		<%=@user.text_field_tag(:lastname) %>
		<%=@user.label(:email, "Email Address:") %>
		<%=@user.text_field_tag(:email) %>
		
		Interests: <%=text_area_tag(:interests, nil, size:"30x10") %>
		
		About Yourself: <%=text_area_tag(:aboutyourself, nil, size:"50x10") %>
		
		
		<%= submit_tag "Submit Changes",class: "btn btn-medium btn-primary" %>
		<% end -%>
	</h3>
	</div>

</div>
